* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__item {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274c5b;
  cursor: pointer;
}

.nav__item:hover {
  color: #7eb693;
}

.btn{
  background-color: #274C5B;
  border: 0;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  display: flex;
  gap: 25px;
  padding: 25px 10px 20px 35px;
  border-radius: 16px;
}

.btn__icon{
  padding-top: 2px;
  background-color: #335B6B;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.btn-yellow{
  background-color: #EFD372;
  color: #274C5B;
}

.promo {
  padding-top: 220px;
  padding-bottom: 250px;
  background-image: url(../img/promo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #efd372;
}

.promo__content {
  width: 40%;
}

.promo__primary_title{
  margin-bottom: 50px;
}

.primary_title {
  font-family: yellowtail;
  font-weight: 200;
  font-size: 36px;
  color: #7eb693;
}

.promo__title {
  font-size: 70px;
  color: #274c5b;
  margin-bottom: 50px;
}

.title {
  font-size: 45px;
  color: #274c5b;
}

.discounts {
  padding-top: 140px;
  padding-bottom: 140px;
}

.discounts .container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.discounts__item {
  padding-top: 105px;
  padding-bottom: 105px;
  /* background-position: center; */
  background-size: 665px 378px;
  background-repeat: no-repeat;
}

.discounts__item-pink {
  background-image: url(../img/discount1.png);
}

.discounts__item-grey {
  background-image: url(../img/discount2.png);
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32.4px;
  color: #525c60;
}

.about {
  padding-top: 130px;
  padding-bottom: 140px;
  background-color: #f9f8f8;
}

.about .container {
  display: flex;
}

.about__title{
  margin-bottom: 20px;
}

.about__text{
  margin-bottom: 55px;
}

.delivery__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}

.delivery__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.delivery__img {
  border-radius: 20px;
  padding: 27px;
  background-color: #ffffff;
}

.delivery__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delivery__title {
  font-size: 25px;
  color: #274c5b;
  line-height: 35px;
  font-weight: 400;
}

.products {
  padding-top: 130px;
  padding-bottom: 130px;
}

.products .container {
  text-align: center;
  margin-bottom: 2.8rem;
}

.products__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product__card {
  background-color: #f9f8f8;
}

.product__type{
  display: inline-block;
  padding: 5px 20px 5px 20px;
  font-family: "Open Sans", sans-serif;
  
  border: none;
  color: #FFFFFF;
  background-color: #274C5B;
  font-size: 15px;
  border-radius: 8px;
  border: 0;
}



.product__title {

  font-size: 22px;
  line-height: 35px;
  color: #274c5b;
}

.product__price {
  display: flex;
  align-items: center;
}

.product-price__prev {
  font-size: 17px;
  line-height: 32px;
  color: #b8b8b8;
  text-decoration: line-through;
}

.product-price__discount {
  font-size: 18px;
  line-height: 32px;
  color: #274c5b;
  font-weight: bold;
}

.testimonial {
  background-image: url(../img/testimonial.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 130px;
  padding-bottom: 150px;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial__content {
  text-align: center;
}

.testimonial__img {
  margin-top: 60px;
}

.testimonial__title {
  font-size: 26px;
  line-height: 33.8px;
  color: #274c5b;
}

.testimonial__subtile {
  font-size: 14px;
  line-height: 27px;
  color: #525c60;
}

.testimonial__circles {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #7eb693;
}

.circle__content {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  background-color: #f1f1f1;
}

.circle__numbers {
  font-size: 42px;
  line-height: 54.6px;
  font-weight: bold;
  color: #274c5b;
}

.circle__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32.4px;
  font-weight: bold;
  color: #274c5b;
}

.offer {
  background-color: #274c5b;
  padding-top: 140px;
  padding-bottom: 140px;
}

.offer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-white {
  font-weight: 400;
  color: #ffffff;
}

.eco_friendly{
  position: relative;
  background-image: url(../img/eco-friendly.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
}

.eco_friendly__content{
  /* position: absolute; */
 right: 0;
  width: 50%;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  padding-top: 40px;
  padding-bottom: 55px;
  padding-left: 55px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.selection {
  background-color: #eff6f1;
  padding-top: 140px;
  padding-bottom: 140px;
}

.selection__list {
  display: flex;
}

.selection__item {
  background-repeat: no-repeat;
  /* background-size: 100% 100%;   */
}

.selection__item-juice {
  background-image: url(../img/selection1.png);
}

.selection__item-organic {
  background-image: url(../img/selection2.png);
}

.selection__item-nuts {
  background-image: url(../img/selection3.png);
}

.subscribe{
  padding-top: 30px;
 
}

.subscribe .container{
  padding: 100px 70px;
  background-image: url(../img/subscribe.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe__title{
  width: 30%;
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: #ffffff;
}

.subscribe__input{
  padding: 27px 100px 27px 30px;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  font-size: 18px;
  line-height: 29px;
  color: #525C60;
}

.footer{
  padding: 85px 0;
}

.footer .container{
  display: flex;
}

.contact{
  text-align: end;
}

.footer__title {
  font-size: 30px;
  line-height: 42px;
  font-weight: bold;
  color: #274c5b;
}

.footer__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  font-weight: bold;
  color: #525c60;
}

.organick{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.networks__list{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.network__item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #eff6f1;
}

.footer__link{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
color: #525c60;
}
